# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
build/
ios/Pods/
macos/Pods/
pubspec.lock
**/*.generated.*
# Platform build outputs
android/.gradle/
android/local.properties
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/.dart_tool/
# Misc
*.iml
*.log
